$primary: #03a9f4;
$secondary: #e0e0e0;
$bg: gray;
$bgform: rgb(90, 89, 89);
$text_clr: #555;
$shadow: black 0px 7px 29px 0px;
$shadow_1: black 4px 7px 12px 0px;
$font_lg: 28px;
$font_md: 20px;
$font_sm: 14px;
